body{
    width: 100vw;
    height: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn{
    border:yellow solid;
    border-radius: 50px;
    width: 300px;
    height: 300px;
}
.btn::before{
    content: 'Pasa por encima';
    font-size: x-large;
}

.btn:hover{
    color: white;
    background-color: green;
}

.btn:hover::before{
    content: '¡Hecho!';
}
